*/.vscode/
*/obj/
*/bin/
*/test.*
*/err
*/log
*/note
utils/*
!utils/include/
!utils/lib/
utils/include/*
utils/lib/*

*/npm_proj/*
!*/npm_proj/package.json
!*/npm_proj/package-lock.json
!*/npm_proj/src/