[submodule "third_repos/boost"]
	path = third_repos/boost
	url = https://github.com/boostorg/boost.git
[submodule "third_repos/ftxui"]
	path = third_repos/ftxui
	url = https://github.com/ArthurSonzogni/FTXUI.git
